{% extends 'votacoes/base.html' %}

{% block content %}
  
  {% if user.is_authenticated %}
    <h1>
      Tópicos
      <a href="{% url 'new_topico' %}">
        <i class="material-icons">
        add
        </i>
      </a>
    </h1>
    
    {% else %}
    <h1>Tópicos</h1>
  
  {% endif %}
  


    
  {% for topico in topicos %}
  <div class="">
    <ul class="list-group">
          <a href="{% url 'post' pk=topico.pk %}">
            <li class="list-group-item active">
              <dt>{{ topico.titulo}}</dt>
            </li>
          </a>

      <li class="list-group-item">
        <span class="">
          {{ topico.descricao}}
        </span>
      </li>
      <br>
    </ul>
  </div>
  

  {% endfor %}
{% endblock %}