{% extends 'votacoes/base.html' %}

{% block content %}
  <h1>Tópicos
    <a href="{% url 'new_topico' %}">
    <i class="material-icons">
      add
    </i>
    </a>
  </h1>
    
  {% for topico in topicos %}
  <div class="">
    <ul class="list-group">
          <a href="{% url 'post' pk=topico.pk %}">
            <li class="list-group-item">
              <dt>{{ topico.titulo}}</dt>
            </li>
          </a>

      <li class="list-group-item">
        <span class="">
          {{ topico.descricao}}
        </span>
      </li>
      <br>
    </ul>
  </div>
  

  {% endfor %}
{% endblock %}