{% extends 'votacoes/base.html' %}

{% block content %}
    
    <h1>
        Postagens
        <a href="{% url 'new_post' %}" class="top-menu">
          <button class="">
              <i class="material-icons">add</i>
          </button>
        </a>
    </h1>

    {% for post in posts %}
        <div >
            <br>
                <h2>{{ post.titulo }}</h2>
                    <div class="">
                    {{ post.body}}
                    </div>
                <br>
                <h5>Comentarios:</h5>
                {% for coment in coments %}

                    {% if coment.post == post %}
                        <ul class="list-group">
                            <li class="list-group-item active">{{ coment.autor }}</li>
                            <li class="list-group-item">{{ coment.body }}</li>
                        </ul>
                        <br>
                        
                        
                    {% endif %}

                {% endfor %}
                <br>
                <a href="{% url 'new_coment' %}" class="top-menu">
                  <button class="save btn btn-info">
                      Adicionar comentario
                  </button>
                </a>
            <br>
        </div>
    {% endfor %}


{% endblock %}
