{% extends 'votacoes/base.html' %}

{% block content %}
        
        <div class="row justify-content-center">
            <div class="col-2"><span>{{ escolha.Partida}}</span></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">{{ escolha.Equipe_da_casa}}</div>
            <div class="col-2">X</div>
            <div class="col-3">{{ escolha.Equipe_de_fora}}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><div id="contador">0</div></div>
            <div class="col-2"></div>
            <div class="col-3"><div id="contador1">0</div></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><input class="btn btn-info" type="button"  value="Votar" onClick="contar();"></div>
            <div class="col-2"></div>
            <div class="col-3"><input class="btn btn-info" type="button"  value="Votar" onClick="contar2();"></div>
        </div>
    <br>
    <script type="text/javascript"> // all javascript/jquery code start here
	var contador = 0;
	var contador1 = 0;
	function contar(){

	document.getElementById('contador').innerHTML = contador += 1;   
	}
	function contar2(){

	document.getElementById('contador1').innerHTML = contador1 += 1;   
	}
</script>
{% endblock %}

