{% extends 'votacoes/base.html' %}

{% block content %}
	
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link disabled" href="/">Jogos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_jogo' %}">novo jogo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_time' %}">novo time</a>
        </li>
    </ul>
    
    

    {% for escolha in escolhas %}
    
        <ul class="list-group">
            <li class="list-group-item active ">
            <a class="card-link text-white" href="{% url 'jogo' pk=escolha.pk %}">{{ escolha.Partida}}</a>
            </li>
            <li class="list-group-item">
            {{ escolha.Equipe_da_casa}} X {{ escolha.Equipe_de_fora}}
            </li>
        </ul>
        <br>
           
    
    {% endfor %}

{% endblock %}
